version: '3.8'

services:
  delta-spark:
    image: deltaio/delta-docker:latest
    container_name: delta-spark-jupyter
    environment:
      - JUPYTER_ENABLE_LAB=yes
    ports:
      - "8888-8889:8888-8889"  # Jupyter
      - "4040:4040"  # Spark UI
    volumes:
      - ../module4-delta-lake/notebooks:/opt/spark/work-dir/notebooks
      - ./home:/home
      - ./data:/tmp/delta-table